* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slider-container {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
}

.slider-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.slider-container img.active {
  display: block;
}

/* .slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100px;
} */

.slider-buttons button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000000;
  background: #ffffff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
  outline: none;
  margin-left: 30px;
}

.slider-buttons button:hover {
  background-color: rgb(145, 112, 255);
  box-shadow: 0px 15px 20px rgba(132, 38, 126, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

.slider-buttons button:active {
  transform: translateY(-1px);
}